#footer
  .container
    .row
      .col-12
        section.contact
          ul.icons
            li
              a.icon.fa-facebook(href='https://www.facebook.com/chewzapp/')
                span.label Facebook
            li
              a.icon.fa-linkedin(href='https://www.linkedin.com/company/chewzapp/')
                span.label Linkedin
        .copyright
          ul.menu
            li © 2019 Chewz. All rights reserved.
            li Made with ♥️ in Los Angeles, CA