#header
  .inner
    header
      h1
        a#logo(href='/') Chewz
      hr
      p Deciding what to eat was never so easy.
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/chewzapp') Chewz App
      li
        a(href='/chewzapi') Chewz API
      