#header
  .inner
    header
      h1
        a#logo(href='/') #{title} 
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/chewzapp') Chewz App
      li
        a(href='/chewzapi') Chewz API
