extends layout

block content
  .wrapper.style1
    .container
      .row.gtr-200
        #content.col-8.col-12-mobile
          article#main
            header
              h2
                a(href='#') Chewz for Restaurants
              p
                | Go beyond the popular items in your menu
            a.image.featured(href='#')
              img(src='images/food4.png', alt='')

        #sidebar.col-4.col-12-mobile
          hr.first
          section
            p
              | Chewz image classification algorithm is based on Convolutional Neural Networks (CNN), a Deep Learning technique that has been a revolutionary force in Computer Vision applications.
            p
              | With the Chewz API you can automatically correlate and prettify your menu items with all your dish pictures available in social media.
            footer
              a.button(href='#') Learn More 


