extends layout

block content
  .wrapper.style1
    .container
      .row.gtr-200
        #sidebar.col-4.col-12-mobile
          hr.first
          section
            p
              | Let Chewz help you to decide what you and your friends want to eat today.
            footer
              a.button(href='#') Just Chewz 
          hr
        #content.col-8.col-12-mobile.imp-mobile
          article#main
            header
              h2
                | Food decision fatigue is a real thing.
              p
              h3  Every day we need to decide on what we are going to eat.
              p
         
            a.image.featured(href='#')
              img(src='images/food.jpg', alt='')
            p
              | You are busy. You are hustling. Your friends are busy too. You had pizza and burrito yesterday. You had bagels and Thai the day before. Every day a new decision. Am I getting all my nutrients? How does this dish look if I can't even see a picture?
      
            p
              | Chewz transforms the way you choose your next meal. Either by yourself or with your friends, just provide your location and Chewz will show what you want.

     

